<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>RegistrarseServlet</servlet-name>
        <servlet-class>controlador.RegistrarseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrarseServlet</servlet-name>
        <url-pattern>/RegistrarseServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TiendaServlet</servlet-name>
        <servlet-class>controlador.TiendaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TiendaServlet</servlet-name>
        <url-pattern>/TiendaServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <servlet-class>controlador.IniciarSesionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <url-pattern>/IniciarSesionServlet</url-pattern>
    </servlet-mapping>

    <env-entry>
        <env-entry-name>email</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>estudio33@gmail.com</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>telefono</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>+34 986 949 229</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>address</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Calle Real 156 Barcelona</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>year_zero</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>1992</env-entry-value>
    </env-entry>

</web-app>